/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 ul {
  list-style: none;
}


 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ヘッターのCSS */
header {
  height: 40px;
  border-bottom: solid 0.5px #fff;
  width: 100%;
  padding: 0px 15px;
  background-color: rgb(47, 58, 78);
  top: 0;
  z-index: 10;
  display: flex;
}

/* ヘッターロゴ */
.main_logo {
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/* ヘッターpc用リスト */
.pc {
  margin: 0 0 0 auto; 
}

.pc_list {
  display: flex;
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-size: 13px;
  margin-top: 12px;
}

.items {
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
} 

.pc_list a:hover {
  cursor: pointer;
  color: goldenrod;
}

.sm {
  display: none;
}

/**********************************　
以下、ハンバーガーメニューの設定
ハンバーガーメニュー種類 このサイト参照:https://knoweb.net/html-css/css/responsive-hamburgermenu/ 
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  header {
    height: 50px;
  }

  .main_logo {
    margin-top: 15px;
  }

  .hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }


  .hamburger span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 1px;
    background-color: #fff;
    border-radius: 8px;
    transition: ease 0.6s;
  }

  .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger span:nth-of-type(2) {
    top: 25px;
  }
  .hamburger span:nth-of-type(3) {
    top: 35px;
  }

  /* 3本線の動き */
  .hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay     : 0.6s;
    transition-delay        : 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active span:nth-of-type(2){
    width: 0px;
  }
  .hamburger.active span:nth-of-type(1),
  .hamburger.active span:nth-of-type(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .hamburger.active span:nth-of-type(1){
    -webkit-transform: translateY(8px);
    -ms-transform    : translateY(8px);
    -o-transform     : translateY(8px);
    transform        : translateY(8px);
  }
  
  .hamburger.active span:nth-of-type(3){
    -webkit-transform: translateY(-12px) rotate(90deg);
    -ms-transform: translateY(-12px) rotate(90deg);
    -o-transform : translateY(-12px) rotate(90deg);
    transform    : translateY(-12px) rotate(90deg);
  }
  
  /* ハンバーガーメニュー上からスライド */
  .sm {
      top: 50px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: #292c2e;
  }

  .list {
    flex-direction: column;
  }

  .sub_item  {
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    display: block;
    line-height: 40px;
    padding: 0 20px;
  }

  .sub_item:hover {
    color: goldenrod;
  }
}

/******************　
   フッターデザイン
*******************/

/* 相対位置決め */
.wrapper{
  min-height: 170vh;
  position: relative;/*←相対位置*/
  padding-bottom: 200px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* 一番上のタイトルのボックス */
.footer-title {
  position: absolute;
  overflow: hidden;
  bottom: 155px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(47, 58, 78);
  color: #fff;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.6);
  border-top: solid 2px #000;
}

.footer-logo {
  position: absolute;
  color: #fff;
  left: 10%;
  padding-top: 5px;
  font-size: 20px;
}

/* 真ん中のボックス */
.footer-box {
  position: absolute;
  overflow: hidden;
  bottom: 25px;
  left: 0px;
  width: 100%;
  height: 130px;
  background-color: #333;
}

.foot-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}


.menu-left, .menu-center, .menu-right {
  padding: 0px 50px;
  font-size: 10px;
  color: #fff;
}


/* フッターリスト文字列 */
.foot-wrap ul {
  list-style: disc;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

.foot-wrap a:hover {
  color: yellow;
}

/* 一番下のコピーライトボックス */
.copyrigth {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  color: white;
  background-color: #2a2929;
  text-align: end;
  font-size: 10px;
  padding-top: 5px;
}

/* スマホ用のフッター */
@media (max-width: 900px) {

  .footer-box {
    height: 120px;
    text-align: center;
  }
  
  .footer-title {
    bottom: 145px;
    height: 30px;
  }
  
  .footer-logo {
    padding: 1px;
    font-size: 15px;
  }
  
  .foot-wrap {
    position: relative;
    margin-top: 15px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .menu-left, .menu-center, .menu-right {
    padding: 0px 25px;
    font-size: 10px;
  }

  .copyrigth {
    text-align: center;
  }
}