// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notice-text {
  margin-top: 30px;
  margin-left: 5%;
  font-size: 20px;
}